div#whole_view{
    background-color: yellow;
    width: 400px;
    height: 600px;
    position: relative;
}

div#result{
    background-color: darkgray;
    height: 15%;
    position: absolute;
    width: 80%;
    top: 20px;
    left: 30px;
}

button{
    height: 15%;
    position: absolute;
    background-color: black;
    width: 20%;
    display: inline-block;
}

